.adbanner {
  position: relative;
  width: 100%;
}
.contact {
  display: inline-block;
  background-color: blue;
}
.number {
  display: inline-block;
}
.number {
  display: inline-block;
}
.iconscar {
  background-color: green;
  color: white;
  height: 200px;
}
.elig {
  background-color: #FF33C7;
  color: white;
  height: 200px;
}
