/* .container1 {
  position: relative;
  height: 500px;
  width: 100%;
  -webkit-filter: opacity(50%);
  filter: opacity(50%);
  transform: translateY(-4%);
  z-index: 11;
} */
#veteransimg {
  position: absolute;
  -webkit-filter: opacity(70%) blur(1px);
  filter: opacity(70%) blur(1px);
  left: 0;
  top: 0;
  height: 600px;
  width: 100%;
  z-index: 1;
}

.centertitle {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 200px;
}
.textblock {
  position: absolute;
  top: 40%;
  left: 5%;
  text-align: left !important;
  color: white;
  z-index: 9;
  width: 550px;
  height: 150px;
  background-color: #23567C;
  text-align: left;
  padding: 5px;
}
.veteranstitle {
	font-family: Futura, sans-serif;
	font-size: 60px;
	font-weight: 400;
	letter-spacing: 4px;
  text-align: left;
	line-height: 34px;
	text-transform: none;
	vertical-align: baseline;
	white-space: pre-wrap;
	word-spacing: 0px;
}
.vsubtext {
	font-family:futura, sans-serif;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 1.1px;
	line-height: 34px;
	text-decoration: none solid rgb(0, 0, 0);
	text-align: left;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: pre-wrap;
	word-spacing: 0px;
}
.vinfo {
  font-family: futura, sans-serif;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1.1px;
}
/* Body Text One */
.bodytext1 {
  display: inline-block;
  width: 600px;
  padding: 5%;
}
.textcontainer {
  padding: 0;
  margin: 0;
  display: inline-block;
  z-index: 10;
  width: 100%;
  color:
}
/* Body Text Two */
.matchlists {
  display: inline-block;
}
.textcontainer2{
  display: flex;
  width: 100%;
  background-color: #F8F8F5;
  padding-left: 5%;
}
.bodytext2 {
  width: 40%;
}
/* Vertical Lines */
.verticalline {
display: flex;
flex-wrap: wrap;
background-color: gray;
height: 200px;
width: 2px;
justify-content:center;
}

.numbers {
  display: inline-block;
  margin-left: 28%;
}
/* Body text 3 */
.textcontainer3 {
  text-align: center;
  background-color: white;
  height: 400px;
}
#navimg {
  display: inline-block;
  position: absolute;
  height: 400px;
  width: 35%;
}
.bodytext3 {
  height: 300px;
  width: 50%;
  float: right;
}
/* Body text 4 */
.bodytext4 {
  display: inline-block;
  height: 300px;
  width: 40%;
}
#accessphoto {
  display: inline-block;
  float: right;
}
.textcontainer4{
    background-color: #F8F8F5;
    height: 385px;
}
#logoicons {
  display: inline-block;
  justify-content: center;
  height: 100px;
  width: 180px;
}
.title {
  text-align: center;
  width: 100%;
  height: 200px;
}
/* Style the tab */
.tab {
  display: inline-block;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  height: 400px;
  width: 500px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  display: flex;
  justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: relative;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  height: 400px;
}
.infograph {
  height: 400px;
}
