.missiontitle {
  text-align: center;
  font-size: 40px;
}
.timeline {
  text-align: center;
}
.missiondesc {
  text-align: center;
  font-size: 20px;
  margin: 3%;
}

.missionline {
  width: 50%;
  font-size: 8px;
}
