* {
  box-sizing: border-box;
}

/* Float four columns side by side */
.flipcolumn {
  float: left;
  width: 15%;
  align-items: middle;
}

/* Remove extra left and right margins, due to padding in columns */
.fliprow {
  margin-left: 33%;
}

/* Clear floats after the columns */
.fliprow:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.flipcard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
}
/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .flipcolumn {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
