/*FAQS*/
.faq_question {
	color: #202020;
	margin: 0px;
	padding: 0px 0px 5px 0px;
	display: inline-block;
	cursor: pointer;
	font-weight: bold;
}
.faq_question:hover{
	color: #4CBFAC;
}
.faq_answer_container {
	height: 0px;
	overflow: hidden;
	padding: 0px;
	color:#808080;
	width: 80%;
}

#faq	h1 {
	/* Font & Text */
	font-family: Rubik, sans-serif;
	font-size: 40px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300 !important;
	letter-spacing: normal;
	line-height: 44px;
	text-decoration: none solid rgb(119, 119, 119);
	text-align: center;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;
}

.faq_container {
	margin-left: 15%;
	padding-top: 2%;
}
