/*FAQS*/
.faq_question {
	color: #717F86;
	margin: 0px;
	padding: 0px 0px 5px 0px;
	display: inline-block;
	cursor: pointer;
}
.faq_question:hover{
	color: #4CBFAC;
}
.faq_answer_container {
	height: 0px;
	overflow: hidden;
	padding: 0px;
	color: #d3d3d3 ;
	width: 80%;
}

#faq {
	/* Font & Text */
}

.faq_container {
	margin-left: 15%;
	padding-top: 2%;
}
