/***********************************
Navigation bar
************************************/
.rllogo {
	width: 250px;
	height: 100px;
	float: left;
}
.nav{
    list-style:none;
		text-align: right;
		height: 50px;
}
.nav .nav-item {
    display:inline-block;
		text-align: right;
		float: right;
		margin-top: 25px;
		margin-right: 20px;
		
}
.navbar {
	height: 95px;
}
/* The navigation bar */
/* .navbar {
  position: fixed; /* Set the navbar to fixed position */
  /* top: 0; /* Position the navbar at the top of the page */
  /* width: 100%; /* Full width */
	/* z-index: 99999;
} */
body{min-height:200vh;}
.navbar-default{
  transition:500ms ease;
  background:transparent;
	border-bottom: 0;
}
.navbar-default.scrolled{
  background:white;
}
/***********************************
Transparency
************************************/

/***********************************
Phone Number button
************************************/
.rlnumber {
	display: inline-block;
	transform: translateX(510%)translateY(145%);
	z-index: 2;
	position: relative;
	background-color:#FF8C00;
	color: white;
	border-radius: 8px;
	font-size: 20px;
}
