/* Features Section
--------------------------------*/
#features {
  display: inline-block;
  height: 100%;
  width: 100%;
  background-color: white;
  padding-top: 5%;
}

#features .feature-block {
  background: #fff none repeat scroll 0 0;
  padding: 30px 20px;
  margin-bottom: 30px;
  transition: all 0.5s ease-in-out 0s;
}

#features .feature-block:hover {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out 0s;
}
.progbanner {
  background-color: #4D7368;
  padding: 10px;
  transform: translateY(26%);
  text-align: center !important;
}
.progstatement {
  font-size: 16px;
  color: white;
  padding: 20px;
  text-align: center !important;
  width: 60%;
  transform: translateX(33%);
}
.progtitle {
  color: white;
  text-align: center;
  transform: translateX(-8%);
}
