html, body {width: auto!important; overflow-x: hidden!important}
body {
		font-size: 15px;
    line-height: 1.52;
    color: #717f86;
    font-size: 16px;
		font-family: 'Open Sans', sans-serif;
    font-weight: 401;
}
ol, ul {
	list-style: none;
}
.section-padding{
	padding: 60px 0px;
}
a{
    color: #5fcf80;
}
a:hover, a:focus{
    color: #5fcf80;
}
/***********************************
Navigation bar
************************************/
.navbar-default .navbar-brand {
    color: #4CBFAE;
}
.navbar-default {
    background-color: #ffffff;
}
.course-text{
    padding: 84px;
}
.navbar-default .navbar-nav > li > a {
    color: #717f86;
    font-size: 14px;
    font-weight: 700;
}
.navbar-nav > li > a{
	padding: 0px;
	margin: 10px 5px;
	padding: 10px 15px;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover
{
	color: #4CBFAE;
}

.navbar-nav .active a{
    background: none !important;
    color: #5FCF80 !important;
    outline: none;
}
.navbar-default .navbar-brand {
    font-family: 'Dosis', sans-serif !important;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0px;
    height: inherit;
    font-size: 36px;
    margin: 20px 0px;
}
.navbar-default .navbar-brand span{
	font-weight: 100 !important;
}
.navbar {
    margin-bottom: 0px;
}
.padding-zero{
	padding: 0px;
}
.mart20{
	margin-top: 20px;
}

/**Hamburger Menu */
#menuToggle body
{
  margin: 0;
  padding: 0;
  background: #232323;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

#menuToggle a
{
  text-decoration: none;
  color: green;

  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}

#menuToggle
{
  display: inline;
  position: relative;
	float:right;
	z-index: 1;
  -webkit-user-select: none;
  user-select: none;
	margin-top: 15px;
	padding-left: 10px;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;

  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;


  background: #4CBFAE;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #4CBFAE;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: relative;
	left: 20%;
	top: 10px;
  width: 300px;
	margin-top: -50px;
  padding: 40px;
	display: none;
	text-align: right;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
/***********************************
Phone Number button
************************************/
.rlnumber {
	float: right;
	transform: translateX(-100%)translateY(170%);
	z-index: 2;
	position: relative;
	background-color:#FF8C00;
	color: white;
	border-radius: 8px;
	font-size: 20px;
}
/***********************************
Carousel Banner Steps
************************************/
.h1banner{
	float: right;
	color: white;
	position: relative;
	top: 50%;
	transform: translateY(-400%)translateX(20%);
	text-shadow: 12px;
	font-size: 50px;
	text-align: left;
}
.h1banner2{
	float: right;
	color: white;
	position: relative;
	top: 50%;
	transform: translateY(-5%)translateX(-60%);
	text-shadow: 30px;
	font-size: 50px;
	text-align: left;
}
.h1banner3{
	float: right;
	color: white;
	position: relative;
	top: 50%;
	transform: translateY(-300%)translateX(-110%);
	font-size: 50px;
	text-align: left;
}
.h1banner4{
	float: right;
	color: white;
	position: relative;
	top: 50%;
	transform: translateY(-50%)translateX(30%);
	font-size: 50px;
	text-align: left;
	text-shadow: 1px 1px 2px black;
}
.h1banner5{
	float: right;
	color: white;
	position: relative;
	top: 50%;
	transform: translateY(-160%)translateX(30%);
	font-size: 50px;
	text-align: left;
	text-shadow: 1px 1px 2px black;
}
#myCarousel2 h1{
	text-align: center;
}
#myCarousel2 {
	background-color: #e8ecec;
}
#myCarousel1 .carousel-control.left{
	transform: translateY(-10%);
	font-size: 60px;
}
#myCarousel1 .carousel-control.right{
	transform: translateY(-10%);
	font-size: 60px;
}
h2{
	font-size: 24px;
	padding-bottom: 15px;
	text-align: center;
	padding-bottom: 10rem;
}
.bottom-line{
	width: 25px;
	height: 3px;
	background-color: rgb(99, 122, 145);
}
.fea{
	margin-top: 25px;
}
.fea-img {
  width: 20%;
}
.heading {
    width: 80%;
}
.fea i {
    font-size: 39px;
    color: #5FCF80;
    margin-top: 7px;
}
.heading h4 {
    font-size: 17px;
    line-height: 1.25;
    font-weight: 700;
    color: #000;
    margin: 10px 0px;
    text-align: left;
}
.heading p {
  text-align: left;
}
.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
	 color: #4CBFAC;
	 font-size: 45px;
}
.carousel-control.left,
.carousel-control.right{
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-control.right{
  left: auto;
  right: 20px;
}
.carousel-inner > .item >img{
  min-height : 300px;
  max-height : 700px;
  width : 100%;
	background-size: cover;
	background-position: 50% 50%;
}

.carousel-inner i{
	display: relative;
	font-size: 50px;
	padding: 20px;
	align-items: center;
}
.carousel-inner>.item {
          width: 100% !important;
}
/***********************************
Statistics
************************************/
#statlist{
	background-color: white;
	color: white;
	align:middle;
	margin-top: auto;
}
#statlist .statpic2 {
	width: 30%;
}
#statlist .statpic3 {
	width: 20%;
}
#statlist .statpic4 {
	width: 25%;
	padding-bottom: 2%;
}
#statistics{
	text-align: center;
}
.namiicon{
	width: 90px;
	height: 30px;
	transform: translateY(-80%)translateX(1230%);
}
/***********************************
Testimonial
************************************/
#testimonial{
    background-color: #457BBD;
		color: white;
}
#testi{
	font-size: 60px;
}
.bg-white{
    background-color: #fff !important;

}
.brooks {
  position: relative;
  font-family: 'Sanchez', serif;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-style: italic;
  &:before {
      content: '\201C';
      position: absolute;
      top: 0.25em;
      left: -0.15em;
      color: darken($white, 7%);
      font-size: 6em;
      z-index: -1;
   }
}

/*Accrediations*/
#acred img{
	display:inline;
	margin-left: 13%;
}
/***********************************
Footer
************************************/
.footer {
    padding: 20px 0 55px;
    background: #4CBFAE;
    color: white;
}
.footer a {
    color: #fff;
}

.footer h3{
	font-weight: 100;
	letter-spacing: 0.05em;
	margin: 0 0 40px;
	font-size: 10px;
}
.footer .social-links li a {
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    border-radius: 20%;
    text-align: left;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.footer .social-links li {
    display: inline-block;
    margin: 0 15px 15px;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.footer .mc-trial {
    margin: 20px 0;
}
.footer .social-links {
    list-style: none;
    padding: 0;
    margin: 30px 0 40px;
    padding: 10px 0 0;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.credits{
	font-size: 12px;
}
.column {
  float: right;
	font-size:12px;
	padding: 10px;
	position: relative;
	bottom: 100px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.endlinks img {
	width: 150px;
	height: 40px;
}
#reachlinklogo{
	width: 200px;
	height: 80px;
}
/***********************************
************************************
Responsive media queries
************************************
***********************************/
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1025px) and (max-width: 1280px) {

  //CSS

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  //CSS

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  //CSS

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 320px) and (max-width: 480px)/*navbar+carousel*/ {
	ul.nav.navbar-nav.navbar-right{
		transform: translateY(-120%);
		display: flex;
		justify-content: space-around;
		height: 30px;

	}
	#menuToggle{
		transform: translateY(-200%);
	}
	#menu {
		transform: translateX(-150%);
	}
	#myCarousel1 {
		transform: translateY(30%);
		z-index:1;
	}
	.carousel-caption h1 {
		display: none;
	}
	.fa.fa-chevron-left {
		display: none;
	}
	.fa.fa-chevron-right {
		display: none;
	}
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) /*Footer*/{

	.footer {
	    background: #4CBFAE;
	    color: white;
	}
	.social-links li a{
			display:relative;
	    color: #fff;
			height: 20%;
			width: 50%;
			margin-left: 30%;
	}
	.footer .hellocred {
		font-size: 12px;
		text-align: center;
	}
	.credits{
		font-size: 10px;
		text-align: center;
	}
	.column {
		display: inline-block;
		font-size:12px;
		transform: translateY(60%)translateX(25%);
		float: none;
	}
	#reachlinklogo{
		width: 170px;
		height: 60px;
	}
	#faulogo{
		width: 180px;
		height: 50px;
	}
}
@media (min-width: 320px) and (max-width: 480px)/*Navbar*/{
#statlist .statpic {
	transform: translateY(80%);
	width: 90%;
	height: 50%;
}
#statlist .statpic2 {
	width: 100%;
	height: 100%;
}
#statlist .statpic3{
	width: 80%;
	height: 100%;
}
#statlist .statpic4{
	width: 100%;
	height: 100%;
}
.namiicon {
	display: none;
}
	#acred img {
		width: 100%;
		transform: translateX(-10%);
	}
}
