.telemedtitle {
  font-size: 130px;
  display: relative;
  text-align: center;
  padding-top: 80px;
}
section p{
  display: relative;
  text-align: center;
}

section h2 {
  padding-bottom: 0 !important;
}

table, th, td {
  border: 1px solid black;
}
