
.telemedquote {
	height: 100px;
}
.video {
  height: 400px;
  background-color: blue;
}
.telemedstatement{
  font-size: 25px;
  color: grey;
  text-align: center;
  margin: 0 10 0 0;
  padding-top: 40px;
  padding: 2%;
}

.telemedinfo {
  padding: 2%;
  text-align: center;
}
