section h1{
  font-size: 100px;
}
section p{
  display: relative;
  text-align: center;
}

section h2 {
  padding-bottom: 0 !important;
}

#bluepart {
  background-color: #457BBD;
  height: 200px;
}
table, th, td {
  border: 1px solid black;
}
